.nombrePágina {
    font-size: 72px;
    line-height: 1.8;
    letter-spacing: 0.218em;
    font-weight: 600;
}

.textoCarrusel {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 100px;
}