/*
Crear variables en css, las variables se pueden 
declarar y usar desde una plantilla css o importarla 
desde otras planillas con @import url('direccion');
 */
:root{

/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*========== Fuente y tipografia ==========*/
    --fuente-body: 'Poppins', sans-serif;
    --fuente-muy-grande: 4rem;
    --fuente-grande: 2.25rem; 
    --h1-tamanio-fuente: 1.5rem;
    --h2-tamanio-fuente: 1.25rem;
    --h3-tamanio-fuente: 1rem;
    --fuente-normal: .938rem;
    --fuente-pequenia: .813rem;
    --fuente-muy-pequenia: .75rem;

 /*========== Fuente dimension ==========*/
    --fuente-media: 500;
    --fuente-semi-bold: 600;

/*========== Colores ==========*/
    --color-primario: #069C54;
    --color-primario-alt: #048654;
    --color-titulo: #393939;
    --color-texto: #707070;
    --color-texto-claro: #A6A6A6;
    --color-body: #FBFEFD;
    --color-contenedor: #FFFFFF;

 /*========== Margenes ==========*/
    --mb-0: .25rem;
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --mb-7: 3.5rem;
    --mb-8: 4rem;
    --mb-9: 4.5rem;

/*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

/*========== Sombras ==========*/
--Sombra-box:0 2px 4px gray;
}

/*usar desde el mismo css*/
.clase{
background:var(--color-primario);
}
#id{
color: var(--h1-fuente);
}
