body {
    background: url(../img/VUCPtX.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nombre-del-disco {
    text-shadow: 2px 2px 3px whitesmoke;
}

.banda {
    text-shadow: 1px 1px 2px whitesmoke;
}

.conteiner-imagen-descripcion {
    position: static;
    margin: 50px 10%;
}

.imagen {
    display: inline-block;
}

.descripcion {
    display: inline-block;
    margin-left: 15%;
    background: #f4f7fe;
    border-radius: 5px;
    border: 5px solid white;
}

.precio {
    text-align: center;
    height: 150%;
}
/*.btn-comprar {
    display: block;
}*/

.miniatura {
    margin: 20px;
    width: 120px;
    height: 120px;
}

.miniatura:hover {
    border: solid 3px dimgrey;
}

.cont-comment {
    margin: 5% auto;
    border-radius: 5px;
    border: 5px solid darkgrey;
    padding: 3%;
    background: black;
}

.form-label {
    color: #f4f7fe;
}

.cont-masdetalles {
    margin: 5% auto;
    background: #f4f7fe;
    border-radius: 5px;
    border: 5px solid white;
}

.text-masdetalles {
    padding: 10px;
}

.titulo-comentarios-destacados {
    text-align: center;
    color: blanchedalmond;
}

.valoraciones-realizadas {
    margin: 2% auto;
    border-radius: 5px;
    border: 5px solid darkgrey;
}

.titulo-comentario {
    position: relative;
}

.titulo-comentario .autor-del-comentario {
    color: black;
    display: inline-block;
}

.valoracion {
    display: inline-block;
    right: 0;
    position: absolute;
}

.btn-nav {
    color: dimgrey;
}

.btn-nav:hover {
    color: darkgray;
}

.tarjetas-carousel {
    width: 180px !important;
    align-items: center;
    margin: .4%;
    max-width: 185px !important;
    background-color: rgba(0, 0, 0, .85);
    color: #8e8e8e;
    transition: color .15s ease-in-out;
    box-shadow: 0 1px 2px rgb(121, 121, 121), 0 1px 3px white, 1px 2px 4px grey;
}

.carousel-inner {
    align-items: center;
    margin-left: 13%;
}

.carousel-control-next {
    margin-right: 0%;
}