    h1 {
        font-style: italic;
        letter-spacing: 0.6em;
        color: rgba(0, 0, 0, .85);
    }
    
    .font-weight-bold {
        font-weight: 700 !important;
    }
    
    header {
        background-color: rgba(0, 0, 0, .85);
    }
    
    .site-header a {
        color: #8e8e8e;
        transition: color .15s ease-in-out;
    }
    
    .destacados {
        padding: 20px;
        margin-top: 20px;
        background-color: rgb(55, 58, 58);
        margin-bottom: 50px;
    }
    
    .section-title {
        text-align: center;
        margin-bottom: 1em;
        font-weight: 600;
        letter-spacing: 0.6em;
    }
    
    .ranking {
        margin-bottom: 150px;
    }
    /*Borde verde de botones*/
    
    .btn-outline-secondary {
        border-color: #21d192;
    }
    /*Color button cabecera*/
    
    .btn-outline-secondary:hover {
        color: #fbfbfb;
        background-color: #21d192;
        border-color: #6c757d;
    }
    /*Fin Color button cabecera*/
    
    a {
        text-decoration: none;
        color: #21d192 !important
    }
    
    a:hover {
        color: #21d192;
        text-decoration: none;
    }
    
    header {
        background-color: rgba(0, 0, 0, .85);
    }
    
    .colorVerdeBoton {
        color: #21d192 !important;
    }