*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
}


/* ======*Encabezado*=======*/

h1 {
    font-style: italic;
    letter-spacing: 0.6em;
    color: rgba(0, 0, 0, .85);
}

.encabezado {
    margin-top: 0;
    background-color: rgba(0, 0, 0, .85);
}

.site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}


/*
.navbar-listados{
    height: 40px;
}
 
#form-buscador{
   width: 40%;
    margin-left: -18%;
    margin-right: 5%;
}*/


/* ======*Liastado productos*=======*/

.contenedor-listadoProductos {
    display: flex;
}

.contenedor-catalogo {
    margin: 0;
}

nav .input-buscador {
    height: 30px;
}

element.style {}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav-link {
    color: #8e8e8e !important;
    font-size: 25px;
}

.nav-link:hover {
    color: #8e8e8e;
    text-shadow: 0 1px 2px black
}

.input-buscador:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

nav .btn-buscar {
    height: 30px;
    padding-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0;
}

.lateral-derecho {
    margin-top: 10px;
    height: 800px !important;
}

.min-vh-100 {
    min-height: 50vh !important;
}

.lateral-derecho span {
    color: black;
}

.lateral-derecho a:hover {
    color: #8e8e8e;
    text-shadow: 0 1px 2px black
}

.lateral-derecho i {
    color: #8e8e8e;
    font-size: 50px;
}


/*Redes Sociales*/

#social-lateral {
    margin-top: -30%;
}

#social-lateral a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#social-lateral div .overlay {
    display: block;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px #ccc;
    border: 3px solid white;
    box-shadow: 0px 0px 4px #ccc;
    background: #f4f7fe;
    position: absolute;
    padding: 5px;
    margin-left: 70px;
    margin-top: -40px;
    /*-52px*/
    transform: translateX(-80%);
    opacity: 0;
    transition: all 400ms;
}

#social-lateral div:hover .overlay {
    opacity: 1;
    transform: translateX(0%);
}

#social-lateral .twitter:hover a i,
#social-lateral .twitter:hover p {
    color: #1DA1F2;
}

#social-lateral .youtube:hover a i,
#social-lateral .youtube:hover p {
    color: #FF0000;
}

#social-lateral .facebook:hover a i,
#social-lateral .facebook:hover p {
    color: #3B5998;
}

.ordenarPor {
    margin-left: 57%;
}

.ordenarPor label {
    width: 10rem;
    margin-top: 2%;
}

.destacados {
    margin-left: 2%;
    margin-bottom: 5%;
}

.catalogo {
    margin-left: 2%;
}

#inputState {
    background-color: #F8F9FA;
}

#inputState:focus {
    -webkit-box-shadow: none;
    box-shadow: gray;
    border: none;
    background-color: #F8F9FA;
}

.tarjeta-Listados {
    width: 250px !important;
    align-items: center;
    margin-left: 1% !important;
    margin: .4%;
    max-width: 300px !important;
    background-color: rgba(0, 0, 0, .85);
    color: #8e8e8e;
    transition: color .15s ease-in-out;
    box-shadow: 0 1px 2px gray, 0 1px 3px white, 1px 2px 4px grey;
    text-decoration: none;
}

.tarjeta-Listados p {
    font-size: 25px;
}

.tarjeta-Listados img {
    margin-top: 7px;
    margin-left: 19% !important;
}


/* ======*Carousel*=======*/

.contenedor-carousel {
    padding-left: 5%;
}


/*
.carousel-inner {
    height: 360px;
}*/

.contenedor-tarjetas-carusel {
    display: flex;
    align-items: center;
}


/*
.tarjetas-carousel {
    width: 180px !important;
    align-items: center;
    margin: .4%;
    max-width: 185px !important;
    background-color: rgba(0, 0, 0, .85);
    color: #8e8e8e;
    transition: color .15s ease-in-out;
    box-shadow: 0 1px 2px rgb(121, 121, 121), 0 1px 3px white, 1px 2px 4px grey;
}*/

.tarjetas-carousel {
    width: 200px !important;
    align-items: center;
    margin: .4%;
    max-width: 300px !important;
    background-color: rgba(0, 0, 0, .85);
    color: #8e8e8e;
    transition: color .15s ease-in-out;
    box-shadow: 0 1px 2px rgb(121, 121, 121), 0 1px 3px white, 1px 2px 4px grey;
}

.tarjetas-carousel img {
    margin-left: 9% !important;
}

.carousel-inner {
    align-items: center;
    height: 348px;
    margin-left: 19%;
}

.carousel-control-next {
    margin-right: -46%;
}

.tarjetas-carousel .btn {
    color: #8e8e8e;
}

.tarjetas-carousel .btn:hover {
    box-shadow: 0 1px 2px rgb(121, 121, 121), 0 1px 3px white
}

#carouselExampleControls {
    display: flex;
}

.carousel-control-prev {
    margin-left: -15%;
}


/*
.carousel-control-next {
    margin-right: -15%;
}
*/

#icono-carousel-izq {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .85);
    margin-left: 53%;
}

#icono-carousel-der {
    height: 30px;
    width: 30px;
    margin-right: 53%;
    background-color: rgba(0, 0, 0, .85);
    border-radius: 100%;
}

#icono-carousel-izq:hover,
#icono-carousel-der:hover {
    transform: scale(1.2);
}

.tarjeta-Listados:hover,
.tarjetas-carousel:hover,
.tarjetas-carousel-setbox:hover {
    transform: scale(1.05);
    /*scale: 1.05;*/
    margin: .4%;
    color: #E2E3E5 !important;
    box-shadow: 0 1px 2px gray, 0 1px 3px white, 1px 2px 4px grey, 1px 2px 5px rgba(0, 0, 0, .85);
    transition: all .15s;
}

.tarjeta-Listados img,
.tarjetas-carousel img,
.tarjetas-carousel-setbox img {
    margin-top: 5px;
    margin-left: 9%;
    width: 160px;
    align-items: center;
    border-radius: 100%;
}

.tarjeta-Listados h5,
.tarjetas-carousel h5,
.tarjetas-carousel-setbox h5 {
    height: 70px;
    text-align: center;
    font-size: 16px;
}

.tarjeta-Listados :hover,
.tarjetas-carousel :hover,
.tarjetas-carousel-setbox :hover {
    color: #E2E3E5;
}

.tarjetas-carousel-setbox {
    width: 200px !important;
    height: 330px;
    align-items: center;
    margin: .4%;
    max-width: 300px !important;
    background-color: rgba(0, 0, 0, .85);
    color: #8e8e8e;
    transition: color .15s ease-in-out;
    box-shadow: 0 1px 2px gray, 0 1px 3px white, 1px 2px 4px grey;
}

.tarjetas-carousel-setbox p {
    font-size: 25px;
}

.tarjetas-carousel-setbox .btn {
    background-color: transparent;
}

.tarjeta-Listados a,
.tarjetas-carousel-setbox a {
    text-decoration: none !important;
    color: #8e8e8e;
}

.tarjeta-Listados hr,
.tarjetas-carousel-setbox hr {
    background-color: #8e8e8e;
}