*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/VUCPtX.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*
header nav a {
    text-decoration: none;
}

header nav .d-none:hover {
    color: #E2E3E5;
    scale: 1.2;
    text-shadow: 0px 0px 0.5px white;
}

header nav .d-none:visited {
    color: #8e8e8e;
}
*/
header nav img {
    width: 25px
}

main {
    margin-top: -4%;
}

.logueo-form {
    max-width: 350px;
    margin: 200px auto 0;
    background-color: rgba(0, 0, 0, .85);
    color: #8e8e8e;
    transition: color .15s ease-in-out;
    box-shadow: 0 1px 2px gray, 0 1px 3px white, 1px 2px 4px grey;
}


.icono-logueo svg {
    width: 60px;
    color: #8e8e8e;
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
}


.logueo-usuario,
.logueo-contrasenia {
    display: flex;
    margin-left: 2%;
}

.logueo-usuario span,
.logueo-contrasenia span {
    width: 30px;
}

.logueo-usuario svg,
.logueo-contrasenia svg {
    width: 25px;
    margin-top: 9%;
    margin-left: 5%;
    margin-right: 2%;

}

.logueo-usuario input,
.logueo-contrasenia input {
    width: 80%;
    margin-left: 2%;
    margin-bottom: 5%;
}

.logueo-recordar {
    margin-top: 5%;
    margin-left: 9%;
    margin-bottom: 5%;
}

.logueo-recordar span a {
    margin-left: 16%;
    text-decoration: none;
    color: #8e8e8e !important;
}

.logueo-recordar span a:hover {
    color: #E2E3E5 !important;
}

.logueo-recordar span a:visited {
    color: #6C757D;
}

.logueo-form button {
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 10%;
    width: 60%;
    color: #8e8e8e;
    background-color: transparent;
}
.logueo-form button:hover {

    color: #E2E3E5 ;
    box-shadow:0 1px 2px rgb(121, 121, 121), 0 1px 3px white !important;
}