*,
::before,
::after {
    padding: 35;
    margin: 35;
    box-sizing: border-box;
}

header {
    background-color: rgba(0, 0, 0, .85);
}


/*.Efecto gris-verde barra de navegación*/

a {
    text-decoration: none;
}

.site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}

a:hover {
    color: #21d192;
    text-decoration: none;
}


/*.Fin Efecto gris-verde barra de navegación*/

body {
    background: url(../img/VUCPtX.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.h3,
h3 {
    font-size: 1.75rem;
    color: aliceblue;
}

.formatoCaja {
    border-top-width: 0px;
    border-top-style: solid;
    margin-top: 200px;
    padding-left: 600px;
    padding-right: 600px;
    border-bottom-style: none;
    margin-bottom: 200px;
}

.colorVerdeBoton {
    color: #21d192 !important;
}