/* TODO: elimina los margenes y espacios para todos los navegadores */

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 72px;
    line-height: 1.6;
    letter-spacing: 0.227em;
    font-weight: 900;
    font-style: normal;
    color: crimson;
}

header {
    background-image: url(https://img.freepik.com/foto-gratis/vista-superior-discos-vinilo_23-2148201671.jpg?size=626&ext=jpg);
    height: 100px;
    margin-bottom: 100px;
}

.navBar {
    margin-top: 10px;
    margin-bottom: 12px;
}

.botones {
    padding-right: 700px;
}