.nombrePágina {
    font-size: 72px;
    line-height: 108px;
    letter-spacing: 0.335em;
    font-weight: 700;
    font-style: normal;
}

.navStyleHome {
    background-color: rgb(0, 0, 0);
}

.textoBlanco {
    color: white !important;
}

.textoCarrusel {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 100px;
}